<body background="../../images/inser_supp_emp.png">

    @model Nursery.Models.plant

    @{
        ViewBag.Title = "Delete";
    }

    <font color="white">
        <h2>Delete</h2>
        </font>

    <font color="white">
        <h3>Are you sure you want to delete this?</h3>
        </font>

        <div>
           
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    <font color="white">   @Html.DisplayNameFor(model => model.plantName) </font>
                </dt>

                <dd>
                    <font color="white">    @Html.DisplayFor(model => model.plantName) </font>
</dd>

                <dt>
                    <font color="white">     @Html.DisplayNameFor(model => model.ScientificName) </font>
</dt>

                <dd>
                    <font color="white">   @Html.DisplayFor(model => model.ScientificName) </font>
</dd>

                <dt>
                    <font color="white">      @Html.DisplayNameFor(model => model.plantAge) </font>
</dt>

                <dd>
                    <font color="white">     @Html.DisplayFor(model => model.plantAge) </font>
</dd>

                <dt>
                    <font color="white">      @Html.DisplayNameFor(model => model.plantPrice) </font>
</dt>

                <dd>
                    <font color="white">    @Html.DisplayFor(model => model.plantPrice) </font>
</dd>

                <dt>
                    <font color="white">   @Html.DisplayNameFor(model => model.plantPicture) </font>
</dt>

                <dd>
                    <font color="white">   @Html.DisplayFor(model => model.plantPicture) </font>
</dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
</body>