<body background="../../images/inser_supp_emp.png">

    @model Nursery.Models.supplier

    @{
        ViewBag.Title = "Details";
    }

    <font color="white">
        <h2>Details</h2>
        </font>

        <div>
            <h4></h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    <font color="white">   @Html.DisplayNameFor(model => model.SupplierName) </font>
</dt>

                <dd>
                    <font color="white">     @Html.DisplayFor(model => model.SupplierName) </font>
</dd>

                <dt>
                    <font color="white">   @Html.DisplayNameFor(model => model.SupplierAddress) </font>
</dt>

                <dd>
                    <font color="white">  @Html.DisplayFor(model => model.SupplierAddress) </font>
</dd>

                <dt>
                    <font color="white">   @Html.DisplayNameFor(model => model.SupplierPhone) </font>
</dt>

                <dd>
                    <font color="white">    @Html.DisplayFor(model => model.SupplierPhone) </font>
</dd>

                <dt>
                    <font color="white">   @Html.DisplayNameFor(model => model.SupplierEmail) </font>
</dt>

                <dd> 
                    <font color="white">  @Html.DisplayFor(model => model.SupplierEmail) </font>
</dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.SupplierID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
</body>